---
import BaseLayout from "../layouts/BaseLayout.astro";
import MarkdownPostLayout from "../layouts/MarkdownPostLayout.astro";
import Greetings from "../components/Greetings";

const pageTitle = "Home Page";
const pageTitle2 = "Something else";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greetings client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />

  <!-- <MarkdownPostLayout
  frontmatter={{ title: pageTitle2, pubDate: new Date(), image: {} }}
> -->
</BaseLayout>
