---
const { platform, username } = Astro.props;
---

<a
  class="text-violet-300 bg-fuchsia-800 p-2 no-underline rounded-lg text-center font-bold"
  href={`https://www.${platform}.com/${username} `}
  >{platform}
</a>
